<template name="book">
    <div class="container wrap-container">
        <div class="row">
            <div id="breadcrumb">
                <ol class="breadcrumb">
                    <li>
                        <a href="{{pathFor 'home'}}">Home</a>
                    </li>
                    <li>
                        <a href="{{pathFor 'books'}}">Books</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12  main-column">
                <div id="content">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4 image-container">
                                <div class="image">
                                    <a class="colorbox cboxElement">
                                        <img src="{{ book.cover }}" title="" alt="" class="" style="width: 155px; height: 195px;"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-sm-8">
                                <h3>{{ book.title }}</h3>
                                <div class="share clearfix">
       
                                    <div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"></div>
                                    <!-- AddThis Button END --> 
                                </div>
                                <div class="description">
                                    <span>Author:</span> {{ book.author }}<br/>
                                </div>
                                <div class="price-cart">
                                    <div class="price"></div>
                                </div>
                                {{#if currentUser}}
                                    {{#if isStudent}}
                                        <button type="button" class="btn btn-info {{ isDue }} pull-right" data-target="#borrowBookModal" role="button" data-toggle="modal">Borrow</button>
                                    {{/if}}
                                    {{#if isManager}}
                                        <button type="button" class="btn btn-info pull-right" data-target="#editBookModal" role="button" data-toggle="modal"
                                        >Edit</button>
                                    {{/if}}

                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="tabs-group">
                        <div id="tabs" class="htabs clearfix">
                            <a href="#tab-description" class="selected" style="display: inline;">Description</a>
                        </div>
                        <div id="tab-description" class="tab-content"
                            style="display: block; margin-top: 10px;">
                            <div class="cpt_product_description ">
                            <div>
                                {{ safeString book.description }}
                            </div>
                            </div>
                            <!-- cpt_container_end -->
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-md-3 offcanvas-sidebar" id="oc-column-right">    
                <div id="column-right" class="sidebar">
                    <div class="box box-product special">
                        <div class="box-heading"><span>Books</span></div>
                        <div class="box-content">
                            {{> booksOnRight}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="booksOnRight">

    <div class="box-product">
        <div class="row">
            {{#each books}}
            <div class=" col-lg-3">
                <div class="product-block">
                    <div class="image">
                        <div class="product-label-special label">text_sale</div>
                        <a href="{{pathFor 'book'}}">
                            <img src="{{ cover }}" title="Adipisicing elit sed" alt="Adipisicing elit sed">
                        </a>
                    </div>
                    <h3 class="name">
                        <a href="{{pathFor 'book'}}">{{ title }}</a>
                    </h3>
                    <div class="rating">{{ author }}</div>

                </div>
            </div>
            {{/each}}
        </div>        
    </div>

</template>