<template name="book">
    <div class="container wrap-container">
        <div class="row">
            <div id="breadcrumb">
                <ol class="breadcrumb">
                    <li>
                        <a href="{{pathFor 'home'}}">Home</a>
                    </li>
                    <li>
                        <a href="{{pathFor 'books'}}">Books</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12  main-column">
                <div id="content">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-lg-7 col-sm-6 image-container">
                                <div class="image">
                                    <a href="http://www.pavothemes.com/demo/pav_floral/image/cache/data/demo/product07-600x450.jpg" class="colorbox cboxElement">
                                    <img src="{{ book.cover }}" title="Lorem ipsum dolor" alt="Lorem ipsum dolor" id="image" class="product-image-zoom">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-6">
                                <h3>{{ book.title }}</h3>
                                <div class="share clearfix">
       
                                    <div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"></div>
                                    <!-- AddThis Button END --> 
                                </div>
                                <div class="description">
                                    <span>Author:</span> {{ book.author }}<br/>
                                    <span>Product Code:</span> product 20<br/>
                                    <span>Availability:</span> In Stock
                                </div>
                                <div class="price-cart">
                                    <div class="price">$119.50</div>
                                </div>
                                {{#if currentUser}}
                                    {{#if isStudent}}
                                        <button type="button" class="btn btn-info {{ isDue }}">Borrow</button>
                                    {{/if}}
                                    {{#if isManager}}
                                        <button type="button" class="btn btn-info">Edit</button>
                                    {{/if}}

                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="tabs-group">
                        <div id="tabs" class="htabs clearfix">
                            <a href="#tab-description" class="selected" style="display: inline;">Description</a>
                        </div>
                        <div id="tab-description" class="tab-content" style="display: block;">
                            <div class="cpt_product_description ">
                            <div>
                                {{ book.description }}
                            </div>
                            </div>
                            <!-- cpt_container_end -->
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-md-3 offcanvas-sidebar" id="oc-column-right">    
                <div id="column-right" class="sidebar">
                    <div class="box box-product special">
                        <div class="box-heading"><span>Books</span></div>
                        <div class="box-content">
                            {{> booksOnRight}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="booksOnRight">

    <div class="box-product">
        <div class="row">
            {{#each books}}
            <div class=" col-lg-3">
                <div class="product-block">
                    <div class="image">
                        <div class="product-label-special label">text_sale</div>
                        <a href="{{pathFor 'book'}}">
                            <img src="{{ cover }}" title="Adipisicing elit sed" alt="Adipisicing elit sed">
                        </a>
                    </div>
                    <h3 class="name">
                        <a href="{{pathFor 'book'}}">{{ title }}</a>
                    </h3>
                    <div class="rating">{{ author }}</div>
                    <div class="price-cart">
                        <div class="price">
                            <span class="price-old">$119.50</span> <span class="price-new">$107.75</span>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>        
    </div>

</template>