<template name="addBookModal">

    <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="addBookModalLabel" class="modal-title">ADD BOOK</h4>
                </div>
                <div class="modal-body">

                    
            
                </div>
            </div>
        </div>
    </div><!-- /.addBookModal -->

</template>