<template name="addReaderModal">
    <div class="modal fade" id="addReaderModal" tabindex="-1" role="dialog" aria-labelledby="addReaderModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="addReaderModalLabel" class="modal-title">ADD READER</h4>
                </div>
                <div class="modal-body">

                    {{> addReaderModalBody}}
            
                </div>
            </div>
        </div>
    </div><!-- /.addReaderModal -->
</template>

<template name="addReaderModalBody">
    <div class="col-md-12">
            <div class="form-login">

                <div class="form-group">
                    <input type="text" class="form-control" id="emailReaderInput" placeholder="Email" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="usernameReaderInput" placeholder="Username" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="passwordReaderInput" placeholder="Password" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="firstnameReaderInput" placeholder="Firstname" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="lastnameReaderInput" placeholder="Lastname" />
                </div>

                <div class="form-group">
                <select class="form-control" id="rolesReaderSelect">
                    {{#each roles}}
                        <option value="{{ this }}">{{ this }}</option>
                    {{/each}}
                </select>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary" id="createReaderButton">Create</button>
                </div>
            </div>
    </div>

    <div class="alert alert-error"></div>
</template>